
@media only screen and (max-width: 1280px) {
body{min-width:950px;}
	.page_wrapper{width: 100%;}
	.header{
		left: 0;
		right: 0;
		width: auto;
		margin-left: 0;
	}
	.container{
		width: 880px;
	}

}

@media only screen and (max-width: 991px){
body{min-width: 750px;}
	.rate_table tr:not(.title_row):hover{
		padding: 2px 0;
	}
	.table_row{
		width: 100%;
		display: inline-block;
	}
		.table_row th,
		.table_row td{
			display: block;
			float: left;
		}

		.rate_table th:nth-child(2){width: 36%;}
		.rate_table td:nth-child(2){width: calc(36% - 20px);}
		.rate_table th:nth-child(3), 
		.rate_table td:nth-child(3){
			width: 20%;
		}
		.rate_table th:nth-child(4), 
		.rate_table td:nth-child(4){
			width: 20%;
		}
		.rate_table th:nth-child(5), 
		.rate_table td:nth-child(5){
			width: 24%;
		}
}

@media only screen and (max-width: 911px) {
	.container{
		width: 600px;
	}
	
}

@media only screen and (max-width: 768px) {
body{min-width:600px;}
    .container{
		width: 600px;
	}
		#sync3 .owl-wrapper{
			width: 100% !important;
		}

		.big_center_form,
		.center_form .jq-selectbox{width: 100%;}
			.center_form .jq-selectbox li{font-size: 13px; padding: 8px 5px 9px;}
		.big_center_form .form_row{width: 30%; margin-right: 20px;}

		.profile_form .profile_btn{width: 100%;text-align: center;}
		.profile_form .form_row{width: 45%;margin-right: 20px; margin-bottom: 30px;}


		.rate_table tbody{display: inline-block;width: 100%;}
			.price.clearfix div:first-child{margin-right: 8px;}
			.price.clearfix div:nth-child(2){width: 35px;margin-right: 8px;}
			.price.clearfix div:last-child{width: 65px;}
			.table th{font-size: 15px;}

		.profile_table .table_row .name{width: 45%;}
		.profile_table .table_row .city,
		.profile_table .table_row .name_face,
		.profile_table .table_row .delete{width: 18% !important;}

		.table thead{display: none;}
		.table_row{
			position: relative;
    		padding-left: 20px;
		}
			.table_row .number{
				position: absolute;
				left: 0;
			}
			.rate_table .table_row .name,
			.rate_table .table_row .city,
			.rate_table .table_row .name_face,
			.rate_table .table_row .code,
			.rate_table .table_row .price{
				width: 100% !important;
				float: left;
				position: relative;
			}

			.rate_table .table_row .name:before{
				content: "Торговая точка";
			}
			.rate_table .table_row .city:before{
				content: "Город";
			}
			.rate_table .table_row .name_face:before{
				content: "Юр. лицо";
			}
			.rate_table .table_row .code:before{
				content: "Баллы";
			}
			.rate_table .table_row .price:before{
				content: "Баллы/Кол-во/Цена";
			}
			.rate_table .table_row .name:before,
			.rate_table .table_row .city:before,
			.rate_table .table_row .name_face:before,
			.rate_table .table_row .code:before,
			.rate_table .table_row .price:before{
				width: 43%;
				float: left;
				font-size: 16px;
			    text-align: left;
			    line-height: 1.2;
			    font-weight: 300;
			    font-family: 'helveticaneuecyrlight';
			}
			.table_row{
				margin-bottom: 10px;
			}
			.price span{
				width: auto;
				margin: 0 15px;
			}
			.form_min_btn{
				padding: 5px 7px;
			}
			.table td{line-height: 1.2;}

		.score_box{
			width: 195px;
			margin-top: 0;
			padding: 15px 10px 10px;
		}
			.score_box span:first-child{font-size: 20px; margin-bottom: 0;}
			.score_box span:last-child{font-size: 40px;}

	.logo + div{
		top: 40px;
	}
		#sync2.owl-carousel .owl-item{margin-right: 20px;}
		.header_link{font-size: 16px;}


	.arcticmodal_container_box{
		width: 100%;
	}
		
			
}

@media only screen and (max-width: 640px) {
body{min-width:450px;}
	p{margin-bottom: 20px; font-size: 15px;}
    .container{
		width: 450px;
	}
	.header{height: 200px;}
		.logo{padding: 35px 0 15px;}
			.logo>a{width: 300px; height: 110px;}
			.logo + div{top: 55px;}
	.main{padding: 240px 0;}
		.big_center_form .form_row {
		    width: 45%;
		}

	.score_box{width: 160px;}



	[data-bg="profile_bg"],
	[data-bg="rate_bg"],
	[data-bg="point_bg"],
	[data-bg="about_bg"]{
	-webkit-background-size: contain;
	     -o-background-size: contain;
	        background-size: contain;}

	        .logo + div {top: 35px;}

	/*-----  header responsive menu  ----*/
		.header_menu{
			width: 250px;
		    position: fixed;
		    right: -270px;
		    top: 0;
		    padding: 40px 10px 10px 25px;
		    background-color: #003151;
		    bottom: 0;
		    height: 100%;
		    box-shadow: -2px 2px 20px rgba(255, 255, 255, 0.5);
		    -webkit-transition: .5s ease-in-out;
		    -moz-transition: .5s ease-in-out;
		    -o-transition: .5s ease-in-out;
		    transition: .5s ease-in-out;
		}
		.nav_overlay .header_menu{
			right: 0;
			-webkit-transition: .5s ease-in-out;
		    -moz-transition: .5s ease-in-out;
		    -o-transition: .5s ease-in-out;
		    transition: .5s ease-in-out;
		}
		#nav-icon{display: block;}
			.header_item{
				width: 100%;
				float: none;
				margin-right: 0;
				margin-bottom: 12px;
			}
			#sync2.owl-carousel .owl-item,
			#sync3.owl-carousel .owl-item{
				margin-right: 0;
				width: 100% !important;
				text-align: left;
				float: none;
			}
			/*#sync3.owl-carousel .owl-item{
			width: 100% !important !important !important;
			text-align: left;
			float: none;
			margin-right: 0;
		}*/
			.close_resp_menu{
				display: block;
				position: absolute;
				right: -275px;
				top: 5px;
				width: 27px;
				height: 27px;
				cursor: pointer;
				opacity: 0.7;
				z-index: 999;
				background: url(../images/icon/close_icon.png) 50% 50% no-repeat;
			}
			.close_resp_menu:hover{opacity: 1;}
			.nav_overlay .close_resp_menu{right: 5px;}


}

@media only screen and (max-width: 480px) {
body{min-width:360px;}
    .container{
		width: 320px;
		padding:0 10px;
	}

	.logo>a {width: 230px; height: 85px;}
	.logo + div{top: 50px;right: -30px;}
		.header_link{font-size: 15px;}
		.main{padding: 200px 0;}

			.link_td_no{font-size: 14px; margin-bottom: 30px;}
			.big_center_form .form_row,
			.profile_form .form_row{width: 100%;margin-right: 0;}


	.title3{font-size: 16px;}
	.hr1{width: 185px;margin: -15px auto 25px;}

	#nav-icon {
	    margin: -65px -40px 10px 15px;
	    float: right;
	}
	.logo + div{top: 20px;}

	.score_box{width: 100%;
	margin-top: 20px;}
	.score_box span{width: 100%;}

	/*.profile_table .table_row td{
		width: 100% !important;
	}*/
	.profile_table .table_row .name{width: 100% !important;}
	.profile_table .table_row .city, 
	.profile_table .table_row .name_face{
		width: 50% !important;
		margin-bottom: 3px;
	}
	.profile_table .table_row .delete{width: 100% !important;}
	
}

@media only screen and (max-width: 360px) {
body{min-width:320px;}
	.logo{padding: 10px 0 15px;}
	    .logo + div{right: 10px; top: 25px;}
	    .logo>a {width: 190px;}

	.title1{font-size: 18px;}

	.table .table_row .name:before, 
	.table .table_row .city:before, 
	.table .table_row .name_face:before, 
	.table .table_row .code:before, 
	.table .table_row .price:before{
		font-size: 16px;
		width: 43%;
	}

	.price.clearfix div{font-size: 13px;}
	.price.clearfix div:nth-child(2),
	.price.clearfix div:last-child{padding: 1.5px 4px;}
	.price.clearfix div:first-child{line-height: 20px; margin: 0 3px 0 5px;}

	.rate_a_table .table_row .name:before, 
	.rate_a_table .table_row .city:before, 
	.rate_a_table .table_row .name_face:before, 
	.rate_a_table .table_row .price:before{
		font-size: 13px;
		line-height: 1.5;
	}


	.logo + div{top: 5px;}
	#nav-icon {
	    margin: -65px 0px 10px 15px;
	    float: right;
	}

}