@import "../css/reset.css";
@import "../css/formstyler.css";
@import "../css/datatables.css";
/*@import "../css/jquery.scrollpane..css";*/
@import "../css/jquery.arcticmodal.css";
@import "../css/owl.carousel.css";
@import "../css/select2.css";
article,aside,audio,canvas,command,datalist,details,embed,figcaption,figure,footer,header,hgroup,keygen,meter,nav,output,progress,section,source,video{display:block}mark,rp,rt,ruby,summary,time{display:inline}
/* Global properties ======================================================== */
html {width:100%}

body {
  font-size:17px;
  line-height:;
  color:#fff;
  background-color: #002d51;
  min-width:950px;
  -webkit-text-size-adjust: none;
  font-family: 'helveticaneuecyrroman', Helvetica, sans-serif;
}

*{
  box-sizing: border-box;
}

/*----------------------> Links And buttons <------------------*/
a {
  color:#;
  outline:none;
  text-decoration:none;
  cursor:pointer;
}
a:hover{
  color:#;
  text-decoration:none;
}

.btn{
  display:inline-block;
  padding:0 0 0;
  margin: 0 0 0;
  font-size: px;
  line-height: px;
  color:#;
 }
.btn:hover{
  background:;
  color:#000;
}
  .simple_btn{
    color: #FFF;    
    text-decoration: underline;
  }
  .simple_btn:hover{
    color: #FFF;
    text-decoration: none;
  }

/*----------------------> Basic Classes <------------------*/
.reg {text-transform:uppercase}
.f_left {float:left}
.f_right {float:right}
.al_left{text-align: left;}
.al_right {text-align:right}
.al_center {text-align:center}

.it{font-style:italic}
.let{letter-spacing:-1px}

.full_w{
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.val_mid{vertical-align: middle;}
/*----------------------> Indents Zero <------------------*/

.m_b_zero{ margin-bottom:0 !important;}
.m_l_zero{ margin-left:0 !important;}
.p_b_zero{ padding-bottom:0 !important;}
.p_l_zero{ padding-left:0 !important;}

/*----------------------> Positions <------------------*/
.p_abs{position: absolute;}
.p_rel{position: relative;}
.p_fix{position: fixed;}
.clear {clear:both;width:100%;line-height:0;font-size:0;}
.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.wrapper {overflow:hidden}
.f_elem>*:first-child{margin-top: 0 !important;}
.f_elem1>*:first-child{margin-top: 0 !important;border: none !important;}

.bg_none{ background:none !important;}

/*----------------------> Displays <------------------*/

.d_block{ display:block;}
.d_ib{ display:inline-block;}
.d_none{ display:none;}
.d_tc{ display:table-cell;}
.d_t{ display:table;}


/*----------------------> Basic Colors <------------------*/



/*---------Global overlay----------*/


/*------------------  FONT SIZE  ---------------*/
  .fz12{font-size: 12px;}
  .fz14{font-size: 14px;}
  .fz16{font-size: 16px;}
  .fz26{font-size: 26px;}
  .fz49{font-size: 49px;}

/*======================> Header <======================*/

header {}
  .logo{
    text-align: center;
    padding: 35px 0;
  }

  .logo>a{
    width: 400px;
    height: 145px;
    margin: auto;
    display: block;  
    background: url(../images/logo.png) 0 0 no-repeat;
    -webkit-background-size: 100%;
         -o-background-size: 100%;
            background-size: 100%;
  }
  .logo + div{
    position: absolute;
    right: 0;
    top: 65px;
  }

  .header_nav{}
    .header_menu{ 
      margin-bottom: 50px; 
      text-align: center;
    }
      .header_item{
        float: left;
        /*margin-right: 60px;*/
        display: inline-block;
        text-shadow: 3px 1px 4px #003151, -1px 0px 4px #003151;
      }
      .header_item:last-child{
        /*margin-right: 0;*/
      }
        .header_link{
          color: #FFF;
          font-size: 18px;
          padding: 0 5px 0 0;
          letter-spacing: 1px;
          font-family: 'helveticaneuecyrmedium';
          -webkit-transition: none;
          -moz-transition: none;
          -o-transition: none;
          transition: none;
        }
        .header_link:hover{
          text-decoration: underline;
          /*padding: 0 3px 0 0;
          -webkit-transition: none;
          -moz-transition: none;
          -o-transition: none;
          transition: none;*/
        }
        .owl-item.synced .header_link{
          text-decoration: underline;
        }
    .admin_nav{}
      .admin_nav .header_item{
        float: none;
      }

  #nav-icon{
    display: none;
    
    width: 35px;
    height: 33px;
    position: relative;
    margin: 5px auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }
  #nav-icon{
    margin: -65px 0 10px 15px;
    float: right;
  }
    #nav-icon span{
      display: block;
      position: absolute;
      height: 3px;
      width: 100%;
      background: #fff;
      border-radius: 9px;
      opacity: 1;
      left: 0;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .25s ease-in-out;
      -moz-transition: .25s ease-in-out;
      -o-transition: .25s ease-in-out;
      transition: .25s ease-in-out;
    }
    #nav-icon span:nth-child(1) {
      top: 0px;
      -webkit-transform-origin: left center;
      -moz-transform-origin: left center;
      -o-transform-origin: left center;
      transform-origin: left center;
    }

    #nav-icon span:nth-child(2) {
      top: 10px;
      -webkit-transform-origin: left center;
      -moz-transform-origin: left center;
      -o-transform-origin: left center;
      transform-origin: left center;
    }

    #nav-icon span:nth-child(3) {
      top: 20px;
      -webkit-transform-origin: left center;
      -moz-transform-origin: left center;
      -o-transform-origin: left center;
      transform-origin: left center;
    }



/*=====================> Content ========================*/
.page_wrapper{
  position: relative;
  width: 1280px;
  margin: auto;
  overflow: hidden;
}
.main{
  /*width: 1280px;*/
  min-height: 1024px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  padding: 280px 0;
}
.header{
  position: absolute;
  height: 235px;
  width: 1280px;
  margin: 0 auto;
  z-index: 9;
  left: 50%;
  margin-left: -640px;
  
}
  .container{
    width: 885px;
    margin: auto;
  }

  /*------  PGAE: Check-in  -----*/
    .form_login{
        width: 284px;
        height: auto;
        background-color: rgba(0, 49, 82, .95);
        padding: 20px 28px 28px 28px;
        margin: 0 auto;
    } 

    .form_login input{
      width: 100%;  
      display: inline-block;  
      border: none;
      border-bottom: 1px solid #839bab;
        color: white;
        font-family: 'helveticaneuecyrroman';
        font-size: 18px;
        font-weight: 300;
        line-height: 39px;
        height: 60px; 
        text-transform: uppercase;
        background: none; 
        text-align:center;
        padding: 30px 0 7px 0px;
    }
    .form_login input:focus{
      outline:none;
      border-color: #fff;
    }

    .form_btn{
        width: 123px;
        height: 32px;
        color: white;
        border: 1px solid #fff;
        font-family: 'helveticaneuecyrroman';
        font-size: 18px;
        font-weight: 300;
        line-height: 30px;
        background: none;
        margin: 20px 0 20px;
        text-align:center;
    }
    .form_btn:hover{
      color: #b3b086;
      background-color: #231f20;
      border: 1px solid #b3b086;
    }

    .forgot_password{
      font-size: 16px;
      color: white;
      font-family: 'helveticaneuecyrlight';
      text-align: center;
      text-decoration: none;
    }

    .forgot_password:hover{
      color: #b3b086;
    }

    .check_in_text{
      font-weight: 300;
      font-size: 14px;
      color: white;
      color: white;
      padding: 10px 0px;
    }

  /*------  PAGE: Blue profile  -----*/
    .score_box{
      width: 212px;
      margin-top: -25px;
      text-align: center;
      padding: 29px 15px 24px;
      font-family: 'helveticaneuecyrlight';
      box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.35);
    }
      .score_box span:first-child{
        margin-bottom: 12px;
        display: inline-block;
      }

    .profile_form{}
      .profile_form .form_row{
        float: left;
        width: 175px;
        margin-right: 60px;
      }
      .profile_form .form_row:last-child{
        margin-right: 0;
      }
        .profile_form .form_label{
          display: block;
          margin-bottom: 14px;
        }
        .profile_form .form_input,
        .form_input{
          width: 100%;
          padding: 2px;
          font-size: 16px;
          border-top: none;
          border-left: none;
          border-right: none;
          outline: none;
          line-height: 30px;
          background-color: transparent;
          border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        }
        .profile_form .form_input.date{
          width: 21px;
          margin-right: 20px;
        }
        .profile_form .form_input.year{width: 40px;}
        .profile_btn{
          outline: #FFF;
          cursor: pointer;
          padding: 3.5px 21px;
          border: 1px solid #fff;
          background-color: transparent;
          box-shadow: inset 0 0 0 rgba(255, 255, 255, 0.5);
        }
        .form_row .profile_btn + .form_input{
          margin: auto;
          display: block;
        }

  /*------  PROFILE table  ------*/
    .profile_table{
      width: 100%;
      font-size: 14px;
    }
      /*.profile_table.table tr:first-child{
        margin-bottom: 0;
        border-bottom: none;
      }*/
      .profile_table thead{display: none !important;}

    .center_form{text-align: center;}
      .center_form .jq-selectbox{
        width: 200px;
        margin: auto;
      }
      .center_form .jq-selectbox__select{
        height: 35px;
        border-left: none;
        border-top: none;
        border-right: none;
        padding: 0 35px 0 5px;
        text-align: center;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
      }


  /*---------  PAGE: Blue rate  -------*/
    .table{
      width: 100%;
      font-size: 14px;
    }
    .table thead{
      width: 100%;
      display: block;
    }

    .table_title{
      padding-bottom: 7px;
      margin-bottom: 12px;
      border-bottom: 1px solid #fff;
    }
      .table_row{
        display: block;
        /*margin-bottom: 10px;*/
      }
      
        .table_row .number{
          width: 20px;
        }
        .table_row .name{
          width: 293px;
        }        
        .table_row .date{
          width: 190px;
        }
        .table_row .delete{
          width: 145px;
        }
          .table_row .delete .delete_btn{
            font-size: 12px;
            color: #FFF;
            padding: 0px 15.5px;
            border: 1px solid #fff;
          }
          .table_row .delete .delete_btn:hover,
          .profile_btn:hover{
            color: #003151;
            background-color: #FFF;
          }

      .table thead th{
        font-size: 20px;
        text-align: left;
        line-height: 1.5;
        font-weight: 300;
        font-family: 'helveticaneuecyrlight';
      }

      .table_row td{
        float: left;
      }
        .table td{
          font-size: 14px;
          line-height: 27px;
          /*width: 100%;*/
          display: inline-block !important;
        }
        .table thead tr:first-child{
          border-bottom: 1px solid #fff;
          margin-bottom: 15px;
        }
        .table tr{
          width: 100%;
          display: inline-block;
        }

      .table.dataTable thead th.ui-state-default:first-child, 
      .table.dataTable tfoot th.ui-state-default:first-child{
        padding: 0;
      }
      .table.dataTable.row-border tbody tr td:first-child, 
      .table.dataTable.order-column tbody tr > .sorting_1, 
      .table.dataTable.order-column tbody tr > .sorting_2, 
      .table.dataTable.order-column tbody tr > .sorting_3, 
      .table.dataTable.display tbody tr > .sorting_1, 
      .table.dataTable.display tbody tr > .sorting_2, 
      .table.dataTable.display tbody tr > .sorting_3{
        padding: 0;
      }
      .table.dataTable thead th, 
      .table.dataTable thead td{
        padding: 5px 0;
      }


      .table.dataTable thead .name, 
      .table .table_row.title_row .name{width: 320px !important;}
      .table .table_row .name{width: 300px;}
      
      .table.dataTable thead .city, 
      .table .table_row .city{width: 185px !important;}

      .table.dataTable thead .name_face, 
      .table .table_row .name_face{width: 230px !important;}

      .table.dataTable thead .code, 
      .table .table_row .code{width: 145px !important;}


      .table.dataTable thead .price, 
      .table .table_row .price{width: 180px !important;}

  /*-------  RATE table  ------*/
    .rate_table{
      width: 100%;
      display: inline-block;
      overflow: hidden;
    }
    .rate_table tbody{
      display: block;
      width: 100%;
    }
      .rate_table .table_row:not(.title_row):hover{
        padding: 4px;
        border: 1px solid #fff;
        -webkit-transition: all 0.7s ease;
        -moz-transition: all 0.7s ease;
        -o-transition: all 0.7s ease;
        transition: all 0.7s ease;
      }
      .rate_table .table_row:not(.title_row){
        cursor: pointer;
        -webkit-transition: all 0.7s ease;
        -moz-transition: all 0.7s ease;
        -o-transition: all 0.7s ease;
        transition: all 0.7s ease;
      }
      .rate_table .table_row:not(.title_row):hover td{
        font-size: 16px;
      }

    /*-----  RATE_A table  ----*/
      .rate_a_table.dataTable thead .city,
      .rate_a_table .table_row .city{width: 158px !important;}

      .rate_a_table.dataTable thead .name_face,
      .rate_a_table .table_row .name_face{width: 217px !important;}

      .rate_a_table.dataTable thead .price,
      .rate_a_table .table_row .price{width: 185px !important;}
      
  /*--- Pagination  ---*/
        .dataTables_wrapper .dataTables_paginate .previous{
          margin-right: 5px;
          background: url(../images/icon/arrow_prev.png) 50% 50% no-repeat;
        }
        .dataTables_wrapper .dataTables_paginate .next{
          margin-left: 5px;
          background: url(../images/icon/arrow_next.png) 50% 50% no-repeat;
        }
        .dataTables_wrapper .dataTables_paginate .previous,
        .dataTables_wrapper .dataTables_paginate .next{
          width: 20px !important;
          height: 26px;
          padding: 0 !important;
          font-size: 7px;
          color: transparent !important;
        }

  /*----------  PAGE: Admin profile  ---------*/
    .form_row{margin-bottom: 20px;}
    .big_center_form{
      width: 710px;
      margin: auto;
    }
      .big_center_form .form_row{
        width: 200px;
        display: inline-block;
        margin-right: 49px;
      }
      .big_center_form .form_row:last-child{
        margin-right: 0;
      }
      .big_center_form .jq-selectbox__select-text{
        width: 100% !important;
      }
        .big_center_form .form_input{
          text-align: center;
        }
        .big_center_form .profile_btn{
          width: 200px;
        }

  /*----------  PAGE: Admin rate  ---------*/
        .price.clearfix div{
          float: left;
          font-size: 14px;
          line-height: 1.2;
        }
        .price.clearfix div:first-child{
          width: 25px;
          line-height: 27px;
          margin-right: 5px;
        }
        .price.clearfix div:nth-child(2){
          width: 47px;
          text-align: center;
          border: 1px solid rgba(255, 255, 255, 0.5);
          margin-right: 10px;
          padding: 4.5px 5px;
        }
        .price.clearfix div:last-child{
          width: 97px;
          text-align: center;
          border: 1px solid rgba(255, 255, 255, 0.5);
          padding: 4.5px 5px;
        }
        td.price div{
          width: 25px;
          float: left;
        }
        .price span{
          display: inline-block;
          text-align: center;
          width: calc(100% - 30px);
        }

        .form_min_btn{
          color: #FFF;
          font-size: 12px;
          text-align: center;
          padding: 5px 10px;
          cursor: pointer;
          background-color: transparent;
          border: 1px solid rgba(255, 255, 255, 0.5);
        }
        .form_min_btn:hover,
        .form_min_btn.active{
          color: #003151;
          background-color: #FFF;
        }
  
      .rate_a_btns,
      .rate_b_btns{
        margin-right: 0 !important;
      }

      .rate_a_table,
      .rate_a_btns,
      .rate_a_pagination,
      #DataTables_Table_2_wrapper{
        display: none !important;
      }
      .rate_a .rate_a_table,
      .rate_a .rate_a_btns,
      .rate_a .rate_a_pagination,
      .rate_a #DataTables_Table_2_wrapper{
        display: block !important;
      }
      .rate_a .rate_b_table,
      .rate_a .rate_b_btns,
      .rate_a .rate_b_pagination,
      .rate_a #DataTables_Table_1_wrapper{
        display: none;
      }


  /*---------   OWL   -------*/
    #sync2.owl-carousel .owl-item{
      width: auto !important;
      margin-right: 60px;
      display: inline-block !important;
    }
    #sync2.owl-carousel .owl-item:last-child{
      margin-right: 0;
    }



  /*---------   POPUP FORM   --------*/
    .arcticmodal_container_box{
      background-color: #003151;
      border: 1px solid #fff;
    }
    .arcticmodal-close img{width: 100%;height: 100%;}
      .popup_form{
        
      }
        .form_textarea{
          width: 100%;
          min-height: 100px;
          border: none;
          resize: none;
          font-size: 14px;
          margin-bottom: 20px;
          background-color: transparent;
          font-family: 'helveticaneuecyrroman';
          border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        }
        .form_popup_btn{
          color: #FFF;
          padding: 5px 7px;
          cursor: pointer;
          border: 1px solid #fff;
          background-color: transparent;
        }
        .form_popup_btn:hover{
          color: #003151;
          background-color: #FFF;
        }



/*===  textarea start  ===*/
textarea::-webkit-input-placeholder{
 font-family: 'helveticaneuecyrroman';   
  transition: all 0.5s ease;
  color: #9a9da6;
  opacity: 1;
  font-size: 14px;
}
textarea::-moz-placeholder{
 font-family: 'helveticaneuecyrroman';   
  transition: all 0.5s ease;
  color: #9a9da6;
  opacity: 1;
  font-size: 14px;
}
textarea:-moz-placeholder{
 font-family: 'helveticaneuecyrroman';   
  transition: all 0.5s ease;
  color: #9a9da6;
  opacity: 1;
  font-size: 14px;
}
textarea:-ms-input-placeholder{
 font-family: 'helveticaneuecyrroman';   
  transition: all 0.5s ease;
  color: #9a9da6;
  opacity: 1;
  font-size: 14px;
}

textarea:focus::-webkit-input-placeholder{
  transition: all 0.5s ease;
  opacity: 0;
}
textarea:focus::-moz-placeholder{
  transition: all 0.5s ease;
  opacity: 0;
}
textarea:focus:-moz-placeholder{
  transition: all 0.5s ease;
  opacity: 0;
}
textarea:focus:-ms-input-placeholder{
  transition: all 0.5s ease;
  opacity: 0;
}
/*===  textarea end    ===*/


/*=====================> Paragraphs ========================*/

  p {margin-bottom:25px}
  .mb1{ margin-bottom:1px;}
  .mb2{ margin-bottom:2px;}
  .mb3{ margin-bottom:3px;}
  .mb4{ margin-bottom:4px;}
  .mb5{ margin-bottom:5px;}
  .mb6{ margin-bottom:6px;}
  .mb7{ margin-bottom:7px;}
  .mb8{ margin-bottom:8px;}
  .mb9{ margin-bottom:9px;}
  .mb10{ margin-bottom:10px;}
  .mb11{ margin-bottom:11px;}
  .mb12{ margin-bottom:12px;}
  .mb13{ margin-bottom:13px;}
  .mb14{ margin-bottom:14px;}
  .mb15{ margin-bottom:15px;}
  .mb16{ margin-bottom:16px;}
  .mb17{ margin-bottom:17px;}
  .mb18{ margin-bottom:18px;}
  .mb19{ margin-bottom:19px;}
  .mb20{ margin-bottom:20px;}
  .mb21{ margin-bottom:21px;}
  .mb22{ margin-bottom:22px;}
  .mb23{ margin-bottom:23px;}
  .mb24{ margin-bottom:24px;}
  .mb25{ margin-bottom:25px;}
  .mb26{ margin-bottom:26px;}
  .mb27{ margin-bottom:27px;}
  .mb28{ margin-bottom:28px;}
  .mb29{ margin-bottom:29px;}
  .mb30{ margin-bottom:30px;}
  .mb31{ margin-bottom:31px;}
  .mb32{ margin-bottom:32px;}
  .mb33{ margin-bottom:33px;}
  .mb34{ margin-bottom:34px;}
  .mb35{ margin-bottom:35px;}
  .mb36{ margin-bottom:36px;}
  .mb37{ margin-bottom:37px;}
  .mb38{ margin-bottom:38px;}
  .mb39{ margin-bottom:39px;}
  .mb40{ margin-bottom:40px;}
  .mb41{ margin-bottom:41px;}
  .mb42{ margin-bottom:42px;}
  .mb43{ margin-bottom:43px;}
  .mb44{ margin-bottom:44px;}
  .mb45{ margin-bottom:45px;}
  .mb46{ margin-bottom:46px;}
  .mb47{ margin-bottom:47px;}
  .mb48{ margin-bottom:48px;}
  .mb49{ margin-bottom:49px;}
  .mb50{ margin-bottom:50px;}
  .mb51{ margin-bottom:51px;}
  .mb52{ margin-bottom:52px;}
  .mb53{ margin-bottom:53px;}
  .mb54{ margin-bottom:54px;}
  .mb55{ margin-bottom:55px;}
  .mb58{ margin-bottom:58px;}
  .mb62{ margin-bottom:62px;}
  .mb75{ margin-bottom:75px;}

  .mt10{margin-top: 10px;}



/*=====================> Lists ========================*/
.list1{}
.list1 li{
  background:url(../images/marker1.png) 0 7px no-repeat;
  padding-left:20px;
}
.list1 a{}

.list2{}
.list2 li{
  background:url(../images/marker1.png) 0 7px no-repeat;
  padding-left:20px;
}
.list2 a{}

.list3{}
.list3 li{
  background:url(../images/marker1.png) 0 7px no-repeat;
  padding-left:20px;
}
.list3 a{}

/*=====================> Titles ========================*/
h2,h3,h4{
  font-weight:normal;
}



.title1{
  font-size: 20px;
  color: #FFF;
  line-height: 1.2;
}

.title2{
  font-size:19px;
  line-height: 1.2;
  color: #bbc8d1;  
}
.title2_white{
    font-size: 19px;
  line-height: 1.2;
  color: #fff;
  font-family: 'helveticaneuecyrmedium';
}

.title3{
  font-size: 18px;
  line-height: 1.2;
  color: #bbc8d1;
  font-family: 'helveticaneuecyrmedium';
  
}

.title3_white{
    font-size: 18px;
  line-height: 1.2;
  color: #fff;
  font-family: 'helveticaneuecyrmedium';
}
.lt_space1{letter-spacing: 1px;}

/*-------  Data backgrounds/colors  ------*/
  [data-bg="login_bg"]{
    background: url(../images/layer-622.jpg) 0 0 no-repeat;
    -webkit-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  }
  [data-bg="profile_bg"]{
    background: #002d51 url(../images/blue_profile_bg.png) 50% 0 no-repeat;
  }

  [data-bg="rate_bg"]{
    background: #002d51 url(../images/blue_rate_bg.png) 50% 0 no-repeat;
  }

  [data-bg="point_bg"]{
    background: #002d51 url(../images/admin_point_bg.png) 50% 0 no-repeat;
  }

  [data-bg="about_bg"]{
    background: #002d51 url(../images/blue_about_bg.png) 50% 0 no-repeat;
  }

  [data-skin="blue"]{
    background-color: #002D51;
  }

  [data-color="white"]{
    color: #FFF;
  }

/*================================>> FONTS  <<========================================*/


  .helv_thin{
    font-family: 'helveticaneuecyrthin';
  }
  .helv_black{
    font-family: 'helveticaneuecyrblack';
  }
  .helv_black_it{
    font-family: 'helveticaneuecyrblack_italic';
  }
  .helv_bold{
    font-family: 'helveticaneuecyrbold';
  }
  .helv_bold_it{
    font-family: 'helveticaneuecyrbold_italic';
  }
  .helv_light{
    font-family: 'helveticaneuecyrlight';
  }
  .helv_med{
    font-family: 'helveticaneuecyrmedium';
  }
  .helv_reg{
    font-family: 'helveticaneuecyrroman';
  }

  @font-face {
      font-family: 'helveticaneuecyrthin';
      src: url('../font/helveticaneuecyr-thin-webfont.eot');
      src: url('../font/helveticaneuecyr-thin-webfont.eot?#iefix') format('embedded-opentype'),
           url('../font/helveticaneuecyr-thin-webfont.woff2') format('woff2'),
           url('../font/helveticaneuecyr-thin-webfont.woff') format('woff'),
           url('../font/helveticaneuecyr-thin-webfont.ttf') format('truetype'),
           url('../font/helveticaneuecyr-thin-webfont.svg#helveticaneuecyrthin') format('svg');
      font-weight: normal;
      font-style: normal;

  }

  @font-face {
      font-family: 'helveticaneuecyrblack';
      src: url('../font/helveticaneuecyr-black-webfont.eot');
      src: url('../font/helveticaneuecyr-black-webfont.eot?#iefix') format('embedded-opentype'),
           url('../font/helveticaneuecyr-black-webfont.woff2') format('woff2'),
           url('../font/helveticaneuecyr-black-webfont.woff') format('woff'),
           url('../font/helveticaneuecyr-black-webfont.ttf') format('truetype'),
           url('../font/helveticaneuecyr-black-webfont.svg#helveticaneuecyrblack') format('svg');
      font-weight: normal;
      font-style: normal;

  }

  @font-face {
      font-family: 'helveticaneuecyrblack_italic';
      src: url('../font/helveticaneuecyr-blackitalic-webfont.eot');
      src: url('../font/helveticaneuecyr-blackitalic-webfont.eot?#iefix') format('embedded-opentype'),
           url('../font/helveticaneuecyr-blackitalic-webfont.woff2') format('woff2'),
           url('../font/helveticaneuecyr-blackitalic-webfont.woff') format('woff'),
           url('../font/helveticaneuecyr-blackitalic-webfont.ttf') format('truetype'),
           url('../font/helveticaneuecyr-blackitalic-webfont.svg#helveticaneuecyrblack_italic') format('svg');
      font-weight: normal;
      font-style: normal;

  }

  @font-face {
      font-family: 'helveticaneuecyrbold';
      src: url('../font/helveticaneuecyr-bold-webfont.eot');
      src: url('../font/helveticaneuecyr-bold-webfont.eot?#iefix') format('embedded-opentype'),
           url('../font/helveticaneuecyr-bold-webfont.woff2') format('woff2'),
           url('../font/helveticaneuecyr-bold-webfont.woff') format('woff'),
           url('../font/helveticaneuecyr-bold-webfont.ttf') format('truetype'),
           url('../font/helveticaneuecyr-bold-webfont.svg#helveticaneuecyrbold') format('svg');
      font-weight: normal;
      font-style: normal;

  }

  @font-face {
      font-family: 'helveticaneuecyrbold_italic';
      src: url('../font/helveticaneuecyr-bolditalic-webfont.eot');
      src: url('../font/helveticaneuecyr-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
           url('../font/helveticaneuecyr-bolditalic-webfont.woff2') format('woff2'),
           url('../font/helveticaneuecyr-bolditalic-webfont.woff') format('woff'),
           url('../font/helveticaneuecyr-bolditalic-webfont.ttf') format('truetype'),
           url('../font/helveticaneuecyr-bolditalic-webfont.svg#helveticaneuecyrbold_italic') format('svg');
      font-weight: normal;
      font-style: normal;

  }

  @font-face {
      font-family: 'helveticaneuecyritalic';
      src: url('../font/helveticaneuecyr-italic-webfont.eot');
      src: url('../font/helveticaneuecyr-italic-webfont.eot?#iefix') format('embedded-opentype'),
           url('../font/helveticaneuecyr-italic-webfont.woff2') format('woff2'),
           url('../font/helveticaneuecyr-italic-webfont.woff') format('woff'),
           url('../font/helveticaneuecyr-italic-webfont.ttf') format('truetype'),
           url('../font/helveticaneuecyr-italic-webfont.svg#helveticaneuecyritalic') format('svg');
      font-weight: normal;
      font-style: normal;

  }

  @font-face {
      font-family: 'helveticaneuecyrlight';
      src: url('../font/helveticaneuecyr-light-webfont.eot');
      src: url('../font/helveticaneuecyr-light-webfont.eot?#iefix') format('embedded-opentype'),
           url('../font/helveticaneuecyr-light-webfont.woff2') format('woff2'),
           url('../font/helveticaneuecyr-light-webfont.woff') format('woff'),
           url('../font/helveticaneuecyr-light-webfont.ttf') format('truetype'),
           url('../font/helveticaneuecyr-light-webfont.svg#helveticaneuecyrlight') format('svg');
      font-weight: normal;
      font-style: normal;

  }

  @font-face {
      font-family: 'helveticaneuecyrlight_italic';
      src: url('../font/helveticaneuecyr-lightitalic-webfont.eot');
      src: url('../font/helveticaneuecyr-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
           url('../font/helveticaneuecyr-lightitalic-webfont.woff2') format('woff2'),
           url('../font/helveticaneuecyr-lightitalic-webfont.woff') format('woff'),
           url('../font/helveticaneuecyr-lightitalic-webfont.ttf') format('truetype'),
           url('../font/helveticaneuecyr-lightitalic-webfont.svg#helveticaneuecyrlight_italic') format('svg');
      font-weight: normal;
      font-style: normal;

  }

  @font-face {
      font-family: 'helveticaneuecyrmedium';
      src: url('../font/helveticaneuecyr-medium-webfont.eot');
      src: url('../font/helveticaneuecyr-medium-webfont.eot?#iefix') format('embedded-opentype'),
           url('../font/helveticaneuecyr-medium-webfont.woff2') format('woff2'),
           url('../font/helveticaneuecyr-medium-webfont.woff') format('woff'),
           url('../font/helveticaneuecyr-medium-webfont.ttf') format('truetype'),
           url('../font/helveticaneuecyr-medium-webfont.svg#helveticaneuecyrmedium') format('svg');
      font-weight: normal;
      font-style: normal;

  }

  @font-face {
      font-family: 'helveticaneuecyrroman';
      src: url('../font/helveticaneuecyr-roman-webfont.eot');
      src: url('../font/helveticaneuecyr-roman-webfont.eot?#iefix') format('embedded-opentype'),
           url('../font/helveticaneuecyr-roman-webfont.woff2') format('woff2'),
           url('../font/helveticaneuecyr-roman-webfont.woff') format('woff'),
           url('../font/helveticaneuecyr-roman-webfont.ttf') format('truetype'),
           url('../font/helveticaneuecyr-roman-webfont.svg#helveticaneuecyrroman') format('svg');
      font-weight: normal;
      font-style: normal;

  }

  @font-face {
      font-family: 'helveticaneuecyrultralight';
      src: url('../font/helveticaneuecyr-ultralight_0-webfont.eot');
      src: url('../font/helveticaneuecyr-ultralight_0-webfont.eot?#iefix') format('embedded-opentype'),
           url('../font/helveticaneuecyr-ultralight_0-webfont.woff2') format('woff2'),
           url('../font/helveticaneuecyr-ultralight_0-webfont.woff') format('woff'),
           url('../font/helveticaneuecyr-ultralight_0-webfont.ttf') format('truetype'),
           url('../font/helveticaneuecyr-ultralight_0-webfont.svg#helveticaneuecyrultralight') format('svg');
      font-weight: normal;
      font-style: normal;

  }


  @font-face {
      font-family: 'helveticaneuecyrthin_italic';
      src: url('../font/helveticaneuecyr-thinitalic-webfont.eot');
      src: url('../font/helveticaneuecyr-thinitalic-webfont.eot?#iefix') format('embedded-opentype'),
           url('../font/helveticaneuecyr-thinitalic-webfont.woff2') format('woff2'),
           url('../font/helveticaneuecyr-thinitalic-webfont.woff') format('woff'),
           url('../font/helveticaneuecyr-thinitalic-webfont.ttf') format('truetype'),
           url('../font/helveticaneuecyr-thinitalic-webfont.svg#helveticaneuecyrthin_italic') format('svg');
      font-weight: normal;
      font-style: normal;

  }


/*================================>> hovers <<========================================*/
a{
    color: #FFF;
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
}
a:hover{
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
}

.link_td_no{
  font-size: 16px;
  text-decoration: none;
}
.link_td_no:hover{
  text-decoration: underline;
}



/*================================>> Contact Form <<========================================*/
#contact-form {
  padding:0px 0 0 0;
  position: relative;
}
#contact-form .success
{
  display: block;
  position: absolute;
  width: 100%;
  top: 0;
  left:0;
  z-index: 99;
  background: #fff;
  border: 1px solid #000;
  text-align: center;
  padding: 20px 0;
}
.txt_field{
  margin:0;
  font-size:12px;
  border:1px solid #e7e7e7;
  color:#969696;
  padding:7px 10px;
  outline:none;
  position:relative;
  font-family:Arial, Helvetica, sans-serif;
  background:#fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.msg_field{
  overflow:auto;
  width:433px;
  height:172px;
  resize:none;
  float:left;
  margin: 0 0 0 0;
}

#contact-form .error, #contact-form .empty, #contact-form .success {display:none;}
#contact-form .error, #contact-form .empty {
  text-align:left;
  color:red;
  font-size:11px;
  position: absolute;
  right: 10px;
  top: 5px;
}
#contact-form .buttons2 {
  overflow:hidden;
  text-align:right;
  position:relative;
  clear:both;
  padding-top:25px;
}
#contact-form .buttons2 a {
  cursor:pointer;
  margin-top:0;
  text-align:center;
}
#contact-form span{
  display:block;
  margin: 0px 0 0 5px;
 }

.map_wrapper{
  overflow:hidden;
  display:inline-block;
  margin-bottom:26px;
}

/*========input ================*/
  input, textarea, button{
    color: #FFF;
    font-size: 16px;
    font-family: 'helveticaneuecyrroman';
  }

  input::-webkit-input-placeholder{
    transition: all 0.5s ease;
    font-family: 'helveticaneuecyrroman';
    font-weight: 300;
    color: #9a9da6;
    opacity: 1;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
  }
  input::-moz-placeholder{
    transition: all 0.5s ease;
    font-family: 'helveticaneuecyrroman';
    font-weight: 300;
    color: #9a9da6;
    opacity: 1;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
  }
  input:-moz-placeholder{
    transition: all 0.5s ease;
    font-family: 'helveticaneuecyrroman';
    font-weight: 300;
    color: #9a9da6;
    opacity: 1;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
  }
  input:-ms-input-placeholder{
    transition: all 0.5s ease;
    font-family: 'helveticaneuecyrroman';
    font-weight: 300;
    color: #9a9da6;
    opacity: 1;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
  }

  input:focus::-webkit-input-placeholder {
    opacity: 0;
    transition: all 0.5s ease;
  }
  input:focus::-moz-placeholder{
    opacity: 0;
    transition: all 0.5s ease;
  }
  input:focus:-moz-placeholder{
    opacity: 0;
    transition: all 0.5s ease;
  }
  input:focus:-ms-input-placeholder{
    opacity: 0;
    transition: all 0.5s ease;
  }
/*===  input end    ===*/


/*================================>> Contacts Info <<========================================*/
#map_canvas {
   width:411px;
   height:237px;
}
.adress{}
.adress span{
  display:inline-block;
}
.adress dt{ margin-bottom:14px;}

/*================================>> Footer <<========================================*/
footer {
  padding:22px 0 26px;
}
.social{
  overflow:hidden;
}
.social a{
  display:block;
  float:left;
  width:32px;
  height:32px;
  overflow:hidden;
  margin-left:8px;
}
.social a:first-child{margin: 0 0 0 0;}
.social a:hover img{
  margin-top:-32px;
}


/*==========================Dilya====================================*/

.hr1{
  width: 200px;
  height: 1px;
  background-color: #7c96a6;
  margin: -10px  auto 40px;
  border: none;
}

/*======================list польз====================================*/
.list { counter-reset: list 0; }
.list li{
  font-size:18px;
  color: #fff;
}

.list li:before {
  counter-increment: list;
  content: counter(list) ". ";
}


  [data-bg="winners_bg"]{
    background: #003151 url(../images/admin_winners_bg.png) 50% 0 no-repeat;
  }


.longines_btn{
  width: 170px;
  margin: auto;
  display: block;
  border: solid 1px #fff;
  color: #FFF;
  padding: 5px 10px;
  font-size: 15px;
  text-align: center;
  font-family: 'helveticaneuecyrroman';
}

.longines_btn:hover{
  background-color: #FFF;
  color: #003151;
}
.title_ander{
  text-decoration: underline;
}

.sub_item{
  text-indent: 45px;
}


h1, h2, h3, h4, h5, h6{
  margin-bottom: 20px;
  
}


/*--------------------------**************  SCROLLBAR  ***************--------------------------*/

  .select2-container{
    width: 200px;
  }

  
/*--------------------------*****************************--------------------------*/
  .dataTables_wrapper > div:first-child,
  .dataTables_info{
    display: none;
  }
